<div>
    <mat-slide-toggle class="primary-slider"
        (change)="this.processToggle()"
        [(ngModel)]="this.statusIn">
    </mat-slide-toggle>
</div>
<div>
    <h1 class="mat-h1">
        {{statusText}}
    </h1>
</div>
<div>
    <h1 class="mat-h1">
        {{timeElapsed}}
    </h1>
</div>
<div *ngIf="!this.dataLoaded">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
</div>
<div *ngIf="this.dataLoaded">
    <div *ngIf="this.timeEntriesReversed.length === 0">
        <h3 class="mat-h3">No entries yet. Welcome to the system!</h3>
    </div>
    <mat-card *ngFor="let te of this.timeEntriesReversed" class="time-entry mat-elevation-z4">
        <mat-card-title>
            {{formatIntime(te.in_datetime)}}
            to 
            {{formatOuttime(te.out_datetime)}}
            &nbsp;&nbsp;
            {{formatDuration(te)}}
        </mat-card-title>
        <mat-card-subtitle>
            {{te.subteams}}
        </mat-card-subtitle>
        <mat-card-content>
            {{te.notes}}
        </mat-card-content>
    </mat-card>
</div>
