table {
  width: 100%;
}

.data-button {
  margin-right: 2em;
}

.click-link {
  text-decoration: underline;
}

.notes-header {
  width: 300px;
}

.game-section {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}


.pit-card {
  width: 30em;
}
