<mat-card>
  <mat-card-title>
     {{this.teamDisplayName}} by {{this.pitResult.scouter_name}}
  </mat-card-title>
  <mat-card-subtitle>
    <strong>Rating:</strong> {{this.pitResult.robot_rating }}
  </mat-card-subtitle>
  <mat-card-content>
    <div class="flex-row" *ngIf="this.pitResult.robot_notes">
      {{this.pitResult.robot_notes}}
    </div>
    <div class="flex-row" *ngIf="this.pitResult.drive_train">
      {{this.pitResult.drive_train}} / {{this.wheelType}} wheels.
    </div>
    <div class="flex-row">
      <div *ngFor="let img of this.pitResult.image_names">
        <img [src]="img" class="image-container" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
