<ng-container *ngIf="this.hasScoutData || this.hasPitData || this.hasTimeData">
  <div class="flex-row">
    <button mat-raised-button color="ts-red" (click)="this.uploadData()">Send Data</button>
  </div>
</ng-container>
<ng-container *ngIf="this.hasTimeData">
  <h1 class="mat-h1">Time Data: {{ this.timeData.heldData.length }} entries</h1>
</ng-container>
<ng-container *ngIf="!this.hasTimeData">
  <h2 class="mat-h2">
    All time data uploaded!
  </h2>
</ng-container>
<ng-container *ngIf="this.hasScoutData">
  <h1 class="mat-h1">Match Data</h1>
  <div class="flex-row">
    <ul>
      <li *ngFor="let sd of this.appData.heldScoutData">
        <span class="mat-body">Scouted {{sd.scouting_team}} in match {{sd.match_key}}</span>
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="!this.hasScoutData">
  <h2 class="mat-h2">
    All Scout data uploaded!
  </h2>
</ng-container>

<hr />

<ng-container *ngIf="this.hasPitData">
  <h1 class="mat-h1">Pit Data</h1>
  <ul>
    <li *ngFor="let sd of this.appData.heldPitData">
      <span class="mat-body">{{sd.scouting_team}}</span>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="!this.hasPitData">
  <h2 class="mat-h2">
    All Pit data uploaded!
  </h2>
</ng-container>
