<ng-container *ngIf="this.hasScoutData">
  <div class="flex-row">
    <button mat-raised-button color="ts-red" (click)="this.uploadData()">Send Data</button>
  </div>
  <h1 class="mat-h1">Match Data</h1>
  <div class="flex-row">
    <ul>
      <li *ngFor="let sd of this.appData.heldScoutData">
        {{sd.scouting_team}}
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="!this.hasScoutData">
  <h2 class="mat-h2">
    All Scout data uploaded!11!!1!
  </h2>
</ng-container>

<hr />

<ng-container *ngIf="this.hasPitData">
  <h1 class="mat-h1">Pit Data</h1>
  <ul>
    <li *ngFor="let sd of this.appData.heldPitData">
      {{sd.scouting_team}}
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="!this.hasPitData">
  <h2 class="mat-h2">
    All Pit data uploaded!!onez!!1!
  </h2>
</ng-container>
