/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-ts-red {
  background-color: #972123;
  color: white;
}

.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: lightgray;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scout-input {
  width: 300px;
}

.mat-card-title {
  font-size: 14px;
}


app-scout-pit-view {
  margin: 2em;
  width: 300px;
}
