.section-header {
  margin-top: 2em;
}

.image-upload {
  display: none;
}

.upload-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dt-checkbox {
  margin-right: 0.50em;
  margin-bottom: 1em;
}
