<h1 class="mat-h1">Pit Scouting</h1>
<form [formGroup]="this.fgScoutPit">
  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Team you are Scouting</mat-label>
      <mat-select formControlName="scoutingTeam">
        <mat-option value="0">Select Team</mat-option>
        <mat-option *ngFor="let t of this.teamList" [value]="t.number">{{t.number}} - {{t.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex-row">
    <div *ngFor="let pr of this.pitResultList">
      <app-scout-pit-view [pitResult]="pr">
      </app-scout-pit-view>
    </div>
  </div>
  <div class="flex-row section-header">
    <h2 class="mat-h2">Chassis</h2>
  </div>
  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Drive Train</mat-label>
      <mat-select formControlName="driveTrain">
        <mat-option *ngFor="let e of this.appData.driveTrainList" [value]="e">{{e}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex-row">
      <mat-checkbox class="dt-checkbox" formControlName="hasWheelOmni">Omni Wheels</mat-checkbox>
      <mat-checkbox class="dt-checkbox" formControlName="hasWheelMec">Mechanim Wheels</mat-checkbox>
      <mat-checkbox class="dt-checkbox" formControlName="hasWheelInflated">Inflated Wheels</mat-checkbox>
      <mat-checkbox class="dt-checkbox" formControlName="hasWheelSolid">Solid Wheels</mat-checkbox>
  </div>
  <div class="flex-row section-header">
    <h2 class="mat-h2">Robot Notes</h2>
  </div>
  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Notes</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="10"
                formControlName="robotNotes"></textarea>
    </mat-form-field>
  </div>
  <div class="flex-row">
    <input #uploader type="file" accept="image" capture
      class="image-upload"
      (change)="uploadImage($event)" />
    <button mat-raised-button color="ts-red"
      class="upload-button"
      (click)="uploader.click()">Add Photo</button>
  </div>
  <div class="flex-row">
    <div *ngFor="let img of this.imageList">
      <img [src]="img" class="image-container" />
    </div>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" (click)="this.sendData()">Send Data</button>
  </div>
  </form>
