.section-header {
  margin-top: 2em;
}

.image-upload {
  display: none;
}

.image-container {
  width: 300px;
}

.upload-button {
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.dt-checkbox {
  margin-right: 0.50em;
  margin-bottom: 1em;
  display: inline-flex;
}
