<h1 mat-h1>Pit Scouting</h1>
<form [formGroup]="this.fgScoutPit">
  <div class="flex-row">
    <mat-form-field >
      <mat-label>Scouter Name</mat-label>
      <input matInput placeholder="Your Name" formControlName="scouterName">
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field >
      <mat-label>Team Data Key (secret, optional)</mat-label>
      <input matInput placeholder="Secret Data Key" formControlName="teamKey">
    </mat-form-field>
  </div>
  <div class="flex-row">
    <mat-form-field >
      <mat-label>Event</mat-label>
      <mat-select formControlName="eventKey">
        <mat-option *ngFor="let e of this.appData.eventList" [value]="e.eventKey">{{e.eventName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field >
      <mat-label>Team you are Scouting</mat-label>
      <mat-select formControlName="scoutingTeam">
        <mat-option value="">Select Team</mat-option>
        <mat-option *ngFor="let t of this.teamList" [value]="t.number">{{t.number}} - {{t.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex-row section-header">
    <h2 mat-h2>Chassis</h2>
  </div>
  <div class="flex-row">
    <mat-form-field >
      <mat-label>Drive Train</mat-label>
      <mat-select formControlName="driveTrain">
        <mat-option *ngFor="let e of this.appData.driveTrainList" [value]="e">{{e}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex-row">
    <mat-checkbox class="dt-checkbox" formControlName="hasWheelOmni">Omni Wheels</mat-checkbox>
    <mat-checkbox class="dt-checkbox" formControlName="hasWheelMec">Mechanim Wheels</mat-checkbox>
    <mat-checkbox class="dt-checkbox" formControlName="hasWheelInflated">Inflated Wheels</mat-checkbox>
    <mat-checkbox class="dt-checkbox" formControlName="hasWheelSolid">Solid Wheels</mat-checkbox>
  </div>
  <div class = "flex-row">
    <button mat-raised-button color="ts-red" (click)="this.sendData()">Send Data</button>
  </div>
  </form>
