<form [formGroup]="this.fgMatch">
  <!-- Match/Scouter level data -->
  <div class="flex-row">
    <mat-form-field >
      <mat-label>Scouter Name</mat-label>
      <input matInput placeholder="Your Name" formControlName="scouterName">
    </mat-form-field>
  </div>
  
  <div class="flex-row">
    <mat-form-field >
      <mat-label>Team Key (secret)</mat-label>
      <input matInput placeholder="Team Key" formControlName="teamKey">
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field >
      <mat-label>Event</mat-label>
      <mat-select formControlName="eventKey">
        <mat-option value="test">Test</mat-option>
        <mat-option value="misjo_2022">St. Joe</mat-option>
        <mat-option value="miwmi_2022">GVSU</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field >
      <mat-label>Team you are Scouting</mat-label>
      <input matInput placeholder="Observing" autocomplete="off"
            formControlName="scoutingTeam">
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field >
      <mat-label>Match</mat-label>
      <input matInput placeholder="Match" formControlName="match">
    </mat-form-field>
  </div>

  <div class="flex-col">
    <!-- Auton Controls -->
    <div class="flex-row game-section">
      <h2 class="mat-h2">Autonomous</h2>
    </div>
    <div class="flex-row score-label">
      <mat-slide-toggle formControlName="autoTarmac" color="primary"
        (change)="this.toggleAutoTarmac()">
        Moved out of the tarmac
      </mat-slide-toggle>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Human Goals</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.humanGoalsDec()">-</button>
      <span class="score">{{ this.appData.humanGoals }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.humanGoalsInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Auto High Goals</h4>
    </div>
    <div class="flex-row" score-label>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoHighGoalDec()">-</button>
      <span class="score">{{ this.appData.autoHighGoal }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoHighGoalInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Auto low Goals</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoLowGoalDec()">-</button>
      <span class="score">{{ this.appData.autoLowGoal }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoLowGoalsInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Auto High Goal Miss</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoHighGoalmissDec()">-</button>
      <span class="score">{{ this.appData.autoHighGoalmiss }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoHighGoalmissInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Auto Low Goal Miss</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoLowGoalmissDec()">-</button>
      <span class="score">{{ this.appData.autoLowGoalmiss }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoLowGoalmissInc()">+</button>
    </div>

    <!-- Teleop Controls -->
    <div class="flex-row game-section">
      <h2 class="mat-h2">Teleop</h2>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Teleop High Goals</h4>
    </div>
    <div class="flex-row" score-label>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopHighGoalDec()">-</button>
      <span class="score">{{ this.appData.teleopHighGoal }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopHighGoalInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Teleop low Goals</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopLowGoalDec()">-</button>
      <span class="score">{{ this.appData.teleopLowGoal }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopLowGoalsInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Teleop High Goal Miss</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopHighGoalmissDec()">-</button>
      <span class="score">{{ this.appData.teleopHighGoalmiss }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopHighGoalmissInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Teleop Low Goal Miss</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopLowGoalmissDec()">-</button>
      <span class="score">{{ this.appData.teleopLowGoalmiss }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopLowGoalmissInc()">+</button>
    </div>

    <!-- End game controls-->
    <div class="flex-row game-section">
      <h2 class="mat-h2">End Game</h2>
    </div>
    <div class="flex-row endgame-section">
      <mat-radio-group formControlName="finalHangPos" (change)="this.updateFinalHangPos()">
        <!-- Might be better as a drop down.-->
        <mat-radio-button class="hang-radio-button" value="0">None (0)</mat-radio-button>
        <mat-radio-button class="hang-radio-button" value="1">Lower (1)</mat-radio-button>
        <mat-radio-button class="hang-radio-button" value="2">Mid (2)</mat-radio-button>
        <mat-radio-button class="hang-radio-button" value="3">High (3)</mat-radio-button>
        <mat-radio-button class="hang-radio-button" value="4">Terminal (4)</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex-row game-section">
      <h2 class="mat-h2">Match Notes</h2>
    </div>
    <div class="flex-row">
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10"
                  formControlName="matchNotes"></textarea>
      </mat-form-field>
    </div>

    <div class="flex-row">
      <ng-container *ngIf="this.uploadError">
        <h3 mat-h3 class="upload-error-test">Error uploading data, try again when network improves.</h3>
      </ng-container>
    </div>
    <div class="flex-row">
      <button mat-raised-button class="upload-data-button" (click)="this.uploadData()">Upload Data</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Backup Data Transfer</h4>
    </div>
    <div class="flex-row">
      <qrcode [qrdata]="this.qrGameString"></qrcode>
    </div>
  </div>
</form>
