<h1 class="mat-h1">Scout a Match</h1>
<form [formGroup]="this.fgMatch">
  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Team you are Scouting</mat-label>
      <mat-select formControlName="scoutingTeam">
        <mat-option value="0">Select Team</mat-option>
        <mat-option *ngFor="let t of this.teamList" [value]="t.number">{{t.number}} - {{t.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Match</mat-label>
      <input matInput type="number" placeholder="Match" formControlName="match">
    </mat-form-field>
  </div>

<div class="flex-col">
      <!-- Auton Controls -->
    <div class="flex-row game-section">
      <h2 class="mat-h2">Autonomous</h2>
    </div>
    <div class="flex-row score-label">
      <mat-slide-toggle formControlName="autoTarmac" color="primary"
        (change)="this.toggleAutoCommunity()">
        Moved out of the community
      </mat-slide-toggle>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cube High Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCubeHighDec()">-</button>
      <span class="score">{{ this.appData.autoCubeHigh }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCubeHighInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cube Medium Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCubeMediumDec()">-</button>
      <span class="score">{{ this.appData.autoCubeMedium }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCubeMediumInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cube Low Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCubeLowDec()">-</button>
      <span class="score">{{ this.appData.autoCubeLow }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCubeLowInc()">+</button>
    </div>

    
    <div class="flex-row score-label">
      <h4 mat-h4>Cone High Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoConeHighDec()">-</button>
      <span class="score">{{ this.appData.autoConeHigh }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoConeHighInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cone Medium Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoConeMediumDec()">-</button>
      <span class="score">{{ this.appData.autoConeMedium }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoConeMediumInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cone Low Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoConeLowDec()">-</button>
      <span class="score">{{ this.appData.autoConeLow }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoConeLowInc()">+</button>
    </div>

    <div class="flex-row game-section">
      <h2 class="mat-h2">Teleop</h2>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cube High Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCubeHighDec()">-</button>
      <span class="score">{{ this.appData.teleopCubeHigh }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCubeHighInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cube Medium Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCubeMediumDec()">-</button>
      <span class="score">{{ this.appData.teleopCubeMedium }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCubeMediumInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cube Low Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCubeLowDec()">-</button>
      <span class="score">{{ this.appData.teleopCubeLow }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCubeLowInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cone High Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopConeHighDec()">-</button>
      <span class="score">{{ this.appData.teleopConeHigh }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopConeHighInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cone Medium Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopConeMediumDec()">-</button>
      <span class="score">{{ this.appData.teleopConeMedium }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopConeMediumInc()">+</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Cone Low Goal</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopConeLowDec()">-</button>
      <span class="score">{{ this.appData.teleopConeLow }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopConeLowInc()">+</button>
    </div>

    <div class="flex-row game-section">
      <h2 class="mat-h2">Endgame</h2>
    </div>
    
    <div class="flex-row score-label">
      <mat-slide-toggle formControlName="endgameDocked" color="primary"
        (change)="this.toggleEndgameDocked()"> <!-- docked on ramp -->
        Robot Docked
      </mat-slide-toggle>
    </div>


    
    <div class="flex-row score-label">
      <h4 mat-h4>Buddy Bots</h4>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.endgameBuddyDec()">-</button>
      <span class="score">{{ this.appData.buddyBots }}</span>
      <button mat-raised-button color="ts-red" class="pm-button" (click)="this.endgameBuddyInc()">+</button>
    </div>


    <div class="flex-row game-section">
      <h2 class="mat-h2">Match Notes</h2>
    </div>
    <div class="flex-row">
      <mat-form-field class="scout-input">
        <mat-label>Notes</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10"
                  formControlName="matchNotes"></textarea>
      </mat-form-field>
    </div>

    <div class="flex-row">
      <ng-container *ngIf="this.uploadError">
        <h3 mat-h3 class="upload-error-test">Error uploading data, try again when network improves.</h3>
      </ng-container>
    </div>
    <div class="flex-row">
      <button mat-raised-button color="ts-red" class="upload-data-button" (click)="this.uploadData()">Upload Data</button>
    </div>

    <div class="flex-row score-label">
      <h4 mat-h4>Backup Data Transfer</h4>
    </div>
    <div class="flex-row">
      <qrcode [qrdata]="this.gameJSON"></qrcode>
    </div>
    <div class="flex-row">
      <h3 mat-h3>If you have a screenshot of the QR code and the data won't upload you can use the button below to reset the form</h3>
    </div>
    <div class="flex-row">
      <button mat-raised-button (click)="this.resetFormConfirm()">Clear Form</button>
    </div>
    <div class="flex-row">
      Or copy/paste text this to Justin... not sure how that's going to work just yet.
      <pre>
        {{ this.gameJSONFormatted }}
      </pre>
    </div>
  </div>
</form>
